/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#ffffff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    max-width:100%;
    display:block;
}

section{
    width:100%;
    min-height:auto;
    padding:80px 8%;
}

.container{
    max-width:1200px;
    margin:auto;
}

html{

    scroll-behavior:smooth;
    scroll-padding-top:90px;

}